<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <!--Creates form so the user can edit the team name-->
                <div class="form-group">
                    <label for="nameTextField">Team Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Team Title"
                    name="TeamName" 
                    value="<%= Team.TeamName %>"
                    required>
                </div>

                <!--Creates a form so the user can edit the year the team was founded-->
                <div class="form-group">
                    <label for="foundedTextField">Founded Year</label>
                    <input type="text" class="form-control"
                    id="foundedTextField"
                    placeholder="Enter the Team's Founded Year"
                    name="Founded" 
                    value="<%= Team.Founded %>"
                    required>
                </div>

                <!--Creates a form so the user can edit the key players of the team-->
                <div class="form-group">
                    <label for="keyPlayersTextField">Key Players</label>
                    <input type="text" class="form-control"
                    id="keyPlayersTextField"
                    placeholder="Enter the Key Players of the team"
                    name="KeyPlayers" 
                    value="<%= Team.KeyPlayers %>"
                    required>
                </div>
                <br>

                <button class="btn btn-success" type="submit">
                    <!--Adds a button to submit the added document of the mongodb-->
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/teamlist" class="btn btn-danger">
                        <!--Adds a button to cancel the document of the mongodb-->
                        <i class="fa-solid fa-xmark"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>