<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-3">Team Name</th>
                <th class="text-center col-2">Founded</th>
                <th class="text-center col-5">Key Players</th>
                <th class="text-center col-2">Options</th>
            </tr>
            <% for(let count=0;count<TeamList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-3"><%= TeamList[count].TeamName %></td>
                <td class="text-center col-2"><%= TeamList[count].Founded %></td>
                <td class="text-center col-5"><%= TeamList[count].KeyPlayers %></td>
                <td class="text-center col-1">
                    <a href="/teamlist/edit/<%= TeamList[count]._id %>" 
                        class="btn btn-success btn-sm">
                        <i class="fa-solid fa-file-pen"></i> Update
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/teamlist/delete/<%= TeamList[count]._id %>"
                        onclick="return confirm('Are you sure you want to remove the following you selected?')" 
                        class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-trash"></i> Remove
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
        <a href="/teamlist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Team</a>      
        <br>
        <br>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>